<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/nodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df_nodes = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/nodes.csv")
df_nodes.head(10)

         _id        long        lat
0  366367223  106.629056  10.804243
1  366367233  106.709701  10.771110
2  366367242  106.737189  10.709337
3  366367274  106.760081  10.854489
4  366367285  106.721163  10.804994
5  366367319  106.618552  10.790438
6  366367322  106.657136  10.799155
7  366367330  106.564926  10.846947
8  366367338  106.632575  10.723753
9  366367340  106.714288  10.803099

In [23]:
#Sắp xếp dữ liệu theo giá trị giảm dần
nodes_sort_id=df_nodes.sort_values('_id',ascending=False)
nodes_sort_id

Empty DataFrame
Columns: []
Index: [(6205235785, 106.6914365, 10.764490499999999), (6203333885, 106.699275, 10.7688924), (6203301188, 106.70073729999999, 10.7749185), (6202895388, 106.64907450000001, 10.8766779), (6202895387, 106.6478838, 10.8863298), (6202766785, 106.7003836, 10.767822800000001), (6202753886, 106.6549862, 10.8717868), (6202728286, 106.64772679999999, 10.8871916), (6200017185, 106.6907424, 10.7902923), (6199323285, 106.67634650000001, 10.770147900000001), (6198233886, 106.69013600000001, 10.7695843), (6198203185, 106.69207379999999, 10.7673311), (6197458386, 106.6926335, 10.7696102), (6194847685, 106.6887564, 10.8080163), (6191194087, 106.72657190000001, 10.808483), (6189533885, 106.68019579999999, 10.7789772), (6189250386, 106.6663201, 10.8073989), (6189094885, 106.68999709999999, 10.763843699999999), (6188930285, 106.64458159999998, 10.7932346), (6188930187, 106.6214557, 10.706215400000001), (6188930186, 106.62387290000001, 10.7961044), (6188930185, 106.66237050000001, 10.7662322), (6187223785, 106.6891054, 10.7730809), (6186722186, 106.6299737, 10.7096866), (6186342585, 106.6299185, 10.7097116), (6185589387, 106.68898259999999, 10.7733556), (6184098085, 106.6898831, 10.769572), (6183084986, 106.69583440000001, 10.763437199999998), (6183071685, 106.6944197, 10.764615699999998), (6182575986, 106.70453810000001, 10.7910897), (6180509911, 106.66443819999999, 10.7894129), (6180509910, 106.66437649999999, 10.789419500000001), (6180509909, 106.66437920000001, 10.7894498), (6180509908, 106.66443419999999, 10.7894432), (6180507817, 106.6644172, 10.7894206), (6180489820, 106.66397590000001, 10.7875847), (6180488761, 106.66443429999998, 10.7879944), (6180488760, 106.664327, 10.7879088), (6180467010, 106.6640699, 10.7876751), (6179166497, 106.6611156, 10.747073199999999), (6179166496, 106.6611209, 10.7469283), (6179166495, 106.660665, 10.7469573), (6179166494, 106.6606837, 10.747096899999999), (6179133001, 106.66149309999999, 10.745370199999998), (6179133000, 106.6614784, 10.745595199999999), (6179132999, 106.6613195, 10.7454235), (6179132998, 106.661247, 10.745687199999999), (6179132997, 106.66102020000001, 10.745823), (6179132996, 106.6609787, 10.745583199999999), (6179132995, 106.6609337, 10.7467324), (6179132994, 106.6609707, 10.746658199999999), (6179132993, 106.6610272, 10.7466799), (6179132992, 106.66098429999998, 10.746758900000001), (6179132991, 106.6608821, 10.746760400000001), (6179106841, 106.66010990000002, 10.7468538), (6179106840, 106.66010990000002, 10.7468064), (6179106839, 106.6602172, 10.7468064), (6179106838, 106.6602118, 10.7468854), (6179106837, 106.66010990000002, 10.7468959), (6179034766, 106.66134129999999, 10.7471427), (6179034765, 106.66125590000001, 10.747110699999999), (6179034764, 106.6611217, 10.747046800000001), (6179034763, 106.6611888, 10.746931), (6179034762, 106.66145709999999, 10.747056800000001), (6179034761, 106.6614002, 10.7471686), (6178094789, 106.66078859999999, 10.7828928), (6178094788, 106.66074760000001, 10.782834800000002), (6178094787, 106.66076699999999, 10.7828176), (6178094786, 106.66081270000001, 10.782875599999999), (6178083347, 106.6607923, 10.7828704), (6178066272, 106.65889440000001, 10.7825866), (6177470885, 106.6714791, 10.8453139), (6176076187, 106.69578359999998, 10.7671715), (6175962759, 106.7048232, 10.7734421), (6175932049, 106.6468338, 10.769644), (6175932048, 106.64482079999999, 10.7662034), (6175932047, 106.64470520000002, 10.766244699999998), (6175932046, 106.64462069999999, 10.765999800000001), (6175932045, 106.6443952, 10.7663848), (6175932044, 106.64423740000001, 10.766440300000001), (6175932043, 106.64421019999999, 10.766362800000001), (6175932042, 106.6442592, 10.766502800000001), (6175932041, 106.6441168, 10.7666014), (6175932040, 106.6439307, 10.766671), (6175932039, 106.6462426, 10.769987400000002), (6175932038, 106.64614340000001, 10.770055900000001), (6175932037, 106.6460256, 10.769890400000001), (6175932036, 106.64636999999999, 10.7700546), (6175932035, 106.64638479999999, 10.7700414), (6175932034, 106.64649340000001, 10.7701995), (6175932033, 106.6466436, 10.7697766), (6175932032, 106.6468344, 10.7696411), (6175932031, 106.64648670000001, 10.769416900000001), (6175932030, 106.64641029999999, 10.7694657), (6175932029, 106.64647420000001, 10.769567599999998), (6175932028, 106.6460716, 10.7689365), (6175932027, 106.64620430000001, 10.7688409), (6175932026, 106.6461777, 10.7688044), (6175932025, 106.64629850000001, 10.7687266), (6175932024, 106.64583929999999, 10.768259800000001), ...]

[577967 rows x 0 columns]

In [18]:
#Sắp xếp dữ liệu theo giá trị giảm dần
nodes_sort_long=df_nodes.sort_values('long',ascending=False)
nodes_sort_long

Empty DataFrame
Columns: []
Index: [(5735312295, 106.86799409999999, 10.805677699999999), (367503051, 106.8679809, 10.8094317), (1593310040, 106.86797790000001, 10.7438123), (3704736806, 106.86797140000002, 10.728268), (5153241519, 106.86796969999999, 10.872765699999999), (5735312297, 106.86795120000001, 10.8067131), (2686826220, 106.8679466, 10.743177099999999), (2686826226, 106.86794350000001, 10.74328), (1595801692, 106.8679348, 10.848541599999999), (5735312308, 106.8679297, 10.8068448), (934970506, 106.8679281, 10.7430772), (1595801720, 106.8679219, 10.848683300000001), (367502069, 106.8679166, 10.8117881), (5735312296, 106.86791090000001, 10.806220399999999), (367710363, 106.8678899, 10.7979181), (2686826225, 106.8678757, 10.743389), (367503966, 106.86785659999998, 10.809656599999999), (367503055, 106.8678557, 10.8095042), (367501937, 106.86785559999998, 10.8115929), (367501935, 106.8678554, 10.8115743), (934970566, 106.86785420000001, 10.7429409), (367710218, 106.8678422, 10.798016800000001), (367501939, 106.86784180000001, 10.8116442), (367544324, 106.8678409, 10.8346891), (1595801673, 106.8678386, 10.8485228), (367501933, 106.8678365, 10.811551099999999), (5153241523, 106.8678243, 10.8731292), (3276013034, 106.8678239, 10.884141699999999), (3276012860, 106.8678107, 10.8710728), (1595801709, 106.8678034, 10.8485983), (3704736783, 106.86779550000001, 10.7263953), (367501941, 106.8677904, 10.8117097), (2686826223, 106.8677864, 10.7434616), (3276012961, 106.86778100000001, 10.8715885), (1612118596, 106.8677772, 10.7365856), (367503060, 106.867769, 10.809558500000001), (2686826218, 106.8677648, 10.742807800000001), (1593309975, 106.8677633, 10.743706900000001), (367503964, 106.86775049999999, 10.809702), (2686826228, 106.8677402, 10.7439217), (2688928039, 106.8677377, 10.8296299), (367502068, 106.8677336, 10.8118824), (5153241520, 106.86772549999999, 10.8728526), (367710216, 106.8677247, 10.797941499999999), (1595801671, 106.86772320000001, 10.848516499999999), (367710365, 106.8677139, 10.7977905), (1595801637, 106.86771359999999, 10.8484063), (367501943, 106.86770120000001, 10.811747500000001), (367501931, 106.86769469999999, 10.8114495), (367503062, 106.8676918, 10.8095769), (367525082, 106.86768799999999, 10.824638400000001), (1593309947, 106.86767549999999, 10.7435433), (367544316, 106.8676726, 10.834764300000002), (367503962, 106.86765390000001, 10.8097116), (2686826227, 106.86765390000001, 10.7438248), (934970416, 106.8676416, 10.7436341), (367710367, 106.8676406, 10.7977504), (934970618, 106.86762859999999, 10.742657300000001), (934970377, 106.8676262, 10.7437219), (367503064, 106.8676047, 10.8095685), (1595801644, 106.8676014, 10.8484441), (3704736816, 106.86759140000001, 10.7298756), (3276012778, 106.86758940000001, 10.8615913), (367503066, 106.8675852, 10.809541699999999), (367502067, 106.8675785, 10.8119205), (367710213, 106.86757209999999, 10.7978665), (367710371, 106.8675675, 10.7977305), (1595801576, 106.8675662, 10.8483339), (3704736818, 106.86756059999999, 10.730006), (367503959, 106.8675571, 10.8096942), (367503068, 106.8675553, 10.809407400000001), (5737909004, 106.86754909999999, 10.8013471), (1595802162, 106.86754690000001, 10.8520107), (1595802507, 106.8675341, 10.852700099999998), (1595802173, 106.86752129999999, 10.8520705), (367503070, 106.867516, 10.8093), (3704736747, 106.86750020000001, 10.724969300000001), (366414755, 106.8674989, 10.8217856), (367501994, 106.8674986, 10.812465699999999), (5153241510, 106.8674986, 10.873152300000001), (367501996, 106.8674983, 10.8124284), (367501992, 106.86749409999999, 10.8125076), (367501998, 106.86749340000001, 10.8123866), (1595802435, 106.8674892, 10.852457699999999), (367503956, 106.86748909999999, 10.8096409), (367502002, 106.86748840000001, 10.812339999999999), (5737909022, 106.8674871, 10.801277800000001), (3704736791, 106.8674845, 10.727164300000002), (1595801581, 106.86747959999998, 10.848362199999999), (3276013037, 106.86747220000001, 10.884414199999998), (367502046, 106.8674693, 10.8123029), (1595802295, 106.8674668, 10.852281399999999), (367710376, 106.86746509999999, 10.797697300000001), (1595801550, 106.8674636, 10.848204800000001), (3704736815, 106.86745790000002, 10.729868699999999), (367503072, 106.8674575, 10.8092287), (367502066, 106.86745630000001, 10.8119399), (1595802502, 106.86745079999999, 10.8526466), (367501990, 106.86744750000001, 10.812586999999999), (1595802443, 106.86744440000001, 10.8524797), ...]

[577967 rows x 0 columns]

In [25]:
#Sắp xếp dữ liệu theo giá trị giảm dần
nodes_sort_lat=df_nodes.sort_values('lat',ascending=False)
nodes_sort_lat

Empty DataFrame
Columns: []
Index: [(366401640, 106.60926770000002, 10.8889982), (5750509319, 106.64654180000001, 10.8889978), (5750670262, 106.6678798, 10.888997400000001), (5750672517, 106.6730618, 10.888997400000001), (2942307867, 106.80434879999999, 10.888995699999999), (5742588192, 106.74415379999999, 10.8889948), (5750634012, 106.6517933, 10.8889948), (5735892174, 106.58283929999999, 10.888993699999999), (2942307927, 106.8044327, 10.888993600000001), (2940203063, 106.8101814, 10.8889934), (5740315569, 106.79893490000002, 10.888993), (5742699274, 106.7290047, 10.888992199999999), (4875033742, 106.7783502, 10.8889915), (5740745401, 106.7766183, 10.8889912), (2942307670, 106.8045749, 10.8889901), (5750448865, 106.6358423, 10.8889899), (2949573822, 106.77956609999998, 10.8889857), (2942307671, 106.8047713, 10.8889857), (2942308027, 106.8008875, 10.8889857), (5735302640, 106.5851973, 10.8889847), (5742588207, 106.74431740000001, 10.8889843), (5742588449, 106.73977909999999, 10.8889843), (5750448877, 106.64015400000001, 10.8889806), (2942308031, 106.80071720000001, 10.888980400000001), (5742416322, 106.76163909999998, 10.888978999999999), (5750779288, 106.688498, 10.888978999999999), (5740442006, 106.78049240000001, 10.888978999999999), (2943667711, 106.8032374, 10.888978999999999), (2939380905, 106.8184352, 10.888978199999999), (1503295425, 106.78591599999999, 10.888978), (5748843609, 106.63020139999999, 10.888977800000001), (5748760801, 106.61921310000001, 10.888976699999999), (2938914951, 106.80935020000001, 10.8889758), (367502718, 106.6883531, 10.8889757), (2945629811, 106.7782886, 10.888975), (5742588443, 106.73937679999999, 10.8889744), (5750672649, 106.6705808, 10.8889737), (2942307898, 106.8045767, 10.8889734), (5748495540, 106.6112711, 10.888973), (2409492695, 106.80566740000002, 10.8889727), (2942307709, 106.8050511, 10.888972500000001), (4897599297, 106.7687653, 10.8889722), (2938729577, 106.8032144, 10.888972099999998), (5742588203, 106.74438300000001, 10.8889719), (2942308071, 106.79906869999999, 10.888971699999999), (2945730799, 106.77581809999998, 10.8889714), (1601686504, 106.5648512, 10.8889713), (5740444626, 106.7790467, 10.8889711), (2942307708, 106.8050264, 10.888971000000002), (367537516, 106.8277274, 10.888970800000001), (366442411, 106.58487350000001, 10.8889704), (5742932294, 106.7008771, 10.8889702), (5735892177, 106.58076100000001, 10.888969900000001), (5740099528, 106.83477490000001, 10.888968499999999), (5582262985, 106.8491717, 10.888968499999999), (5748760759, 106.61360959999999, 10.8889671), (2939380904, 106.8185246, 10.8889662), (2244263986, 106.861452, 10.888966), (2940203155, 106.81331740000002, 10.888966), (2938913076, 106.81015570000001, 10.8889656), (5740315570, 106.79883819999999, 10.888965400000002), (5750724487, 106.6737828, 10.8889631), (5750724471, 106.67695649999999, 10.888962199999998), (5582262984, 106.8492139, 10.8889619), (5926525842, 106.70062959999998, 10.8889619), (5735302642, 106.58487350000001, 10.888961199999999), (5740444461, 106.7892027, 10.888960899999999), (5750509320, 106.6461426, 10.8889602), (5742932223, 106.7072274, 10.8889597), (3283393108, 106.6462259, 10.8889584), (5742588208, 106.74426909999998, 10.8889579), (2945730800, 106.7756614, 10.8889575), (2942307707, 106.8049956, 10.8889574), (367538995, 106.8274695, 10.8889569), (4897599301, 106.76893510000001, 10.888956), (2942307688, 106.80507109999999, 10.888955900000001), (1590272955, 106.8393355, 10.8889558), (3700589857, 106.57241680000001, 10.8889554), (5742588460, 106.7390271, 10.888954400000001), (5742699255, 106.7302854, 10.888954), (5750449140, 106.63977560000001, 10.888952699999999), (5582263006, 106.85017350000001, 10.8889524), (3220146722, 106.5913035, 10.8889504), (2939380901, 106.8189027, 10.888950300000001), (5740099527, 106.83434579999998, 10.88895), (5582262990, 106.85020700000001, 10.88895), (5742932234, 106.7059618, 10.88895), (2942928448, 106.8145605, 10.8889491), (5751021165, 106.69447949999999, 10.888949), (5750724423, 106.67796650000001, 10.8889481), (5582263003, 106.85006609999998, 10.8889476), (5735589482, 106.61136029999999, 10.888947400000001), (366444604, 106.6007756, 10.888946800000001), (2949573812, 106.7831686, 10.888944300000002), (2948302694, 106.7769278, 10.8889439), (2976116005, 106.85307250000001, 10.888943699999999), (2942307743, 106.80056, 10.888943300000001), (2939380903, 106.81861809999998, 10.888942300000002), (5733622118, 106.6007793, 10.888942199999999), (5750449139, 106.63993390000002, 10.8889421), ...]

[577967 rows x 0 columns]