<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/nodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_nodes = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/nodes.csv",index_col="_id")
print(df_nodes.head(10))
df_nodes.shape

                 long        lat
_id
366367223  106.629056  10.804243
366367233  106.709701  10.771110
366367242  106.737189  10.709337
366367274  106.760081  10.854489
366367285  106.721163  10.804994
366367319  106.618552  10.790438
366367322  106.657136  10.799155
366367330  106.564926  10.846947
366367338  106.632575  10.723753
366367340  106.714288  10.803099

(577967, 2)

In [3]:
#Sắp xếp dữ liệu theo giá trị giảm dần
nodes_sort_long=df_nodes.sort_values('long',ascending=False)
nodes_sort_long

                  long        lat
_id
5735312295  106.867994  10.805678
367503051   106.867981  10.809432
1593310040  106.867978  10.743812
3704736806  106.867971  10.728268
5153241519  106.867970  10.872766
...                ...        ...
367515274   106.536016  10.789476
367753398   106.536015  10.716888
367753348   106.536007  10.714428
1854295533  106.536006  10.718876
367753329   106.536005  10.714025

[577967 rows x 2 columns]

In [4]:
#Sắp xếp dữ liệu theo giá trị giảm dần
nodes_sort_lat=df_nodes.sort_values('lat',ascending=False)
nodes_sort_lat

                  long        lat
_id
366401640   106.609268  10.888998
5750509319  106.646542  10.888998
5750670262  106.667880  10.888997
5750672517  106.673062  10.888997
2942307867  106.804349  10.888996
...                ...        ...
367165329   106.552183  10.676003
5168393141  106.733988  10.676003
5764805030  106.546032  10.676001
5786019725  106.733516  10.676001
5786076813  106.751569  10.676001

[577967 rows x 2 columns]