<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/segment_status.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_segments_status = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/segment_status.csv",index_col="_id", parse_dates=["updated_at"])
print(df_segments_status.head(10))
df_segments_status.shape

                          updated_at  segment_id  velocity
_id
0   2020-07-03 14:55:31.869000+00:00       24845        20
1   2020-07-03 15:02:56.048000+00:00       33923        10
2   2020-07-04 08:15:52.696000+00:00       33824         5
3   2020-07-04 08:15:59.903000+00:00       33824         5
4   2020-07-04 08:16:08.201000+00:00       33824         5
5   2020-07-04 08:16:11.070000+00:00       33824         5
6   2020-07-04 08:16:18.512000+00:00       33824         5
7   2020-07-04 08:16:21.798000+00:00       33824         5
8   2020-07-04 08:16:24.746000+00:00       33824         5
9   2020-07-04 08:16:27.606000+00:00       33824         5

(90938, 3)

In [3]:
segment_status_sort=df_segments_status.sort_values(by='velocity')
segment_status_sort

                            updated_at  segment_id  velocity
_id
32416 2020-08-03 00:20:31.797000+00:00       29164         0
12828 2020-08-03 00:05:30.888000+00:00       83584         0
8119  2020-08-03 00:02:28.071000+00:00        6536         0
7466  2020-08-02 23:59:32.926000+00:00       62128         0
33760 2020-08-03 00:23:27.901000+00:00        5562         0
...                                ...         ...       ...
50856 2020-12-02 15:33:41.160000+00:00       14409       199
42002 2020-11-26 01:00:22.535000+00:00       63453       199
52438 2020-12-04 02:19:19.741000+00:00       68714       200
49320 2020-12-02 02:21:46.673000+00:00       10099       200
58781 2020-12-09 15:18:12.988000+00:00       33201       200

[90938 rows x 3 columns]