<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/segments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_segments_status = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/segment_status.csv")
print(df_segments_status.head(10))
df_segments_status.shape

   _id                updated_at  segment_id  velocity
0    0  2020-07-03T14:55:31.869Z       24845        20
1    1  2020-07-03T15:02:56.048Z       33923        10
2    2  2020-07-04T08:15:52.696Z       33824         5
3    3  2020-07-04T08:15:59.903Z       33824         5
4    4  2020-07-04T08:16:08.201Z       33824         5
5    5  2020-07-04T08:16:11.070Z       33824         5
6    6  2020-07-04T08:16:18.512Z       33824         5
7    7  2020-07-04T08:16:21.798Z       33824         5
8    8  2020-07-04T08:16:24.746Z       33824         5
9    9  2020-07-04T08:16:27.606Z       33824         5

(90938, 4)

In [5]:
df_segments = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/segments.csv")
df_segments.head(10)

   _id                created_at  ... street_name  street_type
0    0  2020-10-18T13:26:17.365Z  ...   Quốc Lộ 1        trunk
1    1  2020-10-18T13:26:17.400Z  ...   Quốc Lộ 1        trunk
2    2  2020-10-18T13:26:17.435Z  ...   Quốc Lộ 1        trunk
3    3  2020-10-18T13:26:17.444Z  ...   Quốc Lộ 1        trunk
4    4  2020-10-18T13:26:17.452Z  ...   Quốc Lộ 1        trunk
5    5  2020-10-18T13:26:17.461Z  ...   Quốc Lộ 1        trunk
6    6  2020-10-18T13:26:17.468Z  ...   Quốc Lộ 1        trunk
7    7  2020-10-18T13:26:17.472Z  ...   Quốc Lộ 1        trunk
8    8  2020-10-18T13:26:17.477Z  ...   Quốc Lộ 1        trunk
9    9  2020-10-18T13:26:17.481Z  ...   Quốc Lộ 1        trunk

[10 rows x 11 columns]

In [13]:
segment_sort=df_segments.sort_values(by='max_velocity')
segment_sort

         _id                created_at  ...            street_name     street_type
31005  31005  2020-10-18T13:27:51.399Z  ...  Đường dẫn ga Quốc nội  secondary_link
70399  70399  2020-10-18T13:29:45.939Z  ...  Đường dẫn ga Quốc nội        tertiary
49941  49941  2020-10-18T13:28:40.288Z  ...          Quận Tân Bình  secondary_link
70397  70397  2020-10-18T13:29:45.935Z  ...  Đường dẫn ga Quốc nội        tertiary
70396  70396  2020-10-18T13:29:45.933Z  ...  Đường dẫn ga Quốc nội        tertiary
...      ...                       ...  ...                    ...             ...
84628  84628  2020-10-18T13:30:29.795Z  ...             Võ Văn Tần        tertiary
84629  84629  2020-10-18T13:30:29.797Z  ...             Võ Văn Tần        tertiary
84630  84630  2020-10-18T13:30:29.799Z  ...             Võ Văn Tần        tertiary
84631  84631  2020-10-18T13:30:29.802Z  ...             Võ Văn Tần        tertiary
84632  84632  2020-10-18T13:30:29.803Z  ...             Võ Văn Tần        tertiary

[84633 rows x 11 columns]

In [14]:
segment_status_df = pd.read_csv("https://raw.githubusercontent.com/hlnynhi/PCAP/main/Traffic-data/segment_status.csv", index_col="_id", parse_dates=["updated_at"])
segment_df = pd.read_csv("https://raw.githubusercontent.com/hlnynhi/PCAP/main/Traffic-data/segments.csv", index_col="_id", parse_dates=["created_at", "updated_at"])

In [16]:
from math import ceil

def transform_LOS(segment_id, velocity):
    max_velocity = segment_df.loc[segment_id, "max_velocity"]
    if max_velocity is None:
        max_velocity = 50
    
    # Transform to label
    labels = ["A", "B", "C", "D", "E", "F"]
    threshold = 35
    if max_velocity >= 70:
        threshold = 45
    elif max_velocity >= 60:
        threshold = 40

    t = max(threshold - velocity, 0)
    return labels[min(ceil(t / 5), 5)]

def transform_report(row):
    """
    @Params:
        dt: Timestamp object of Pandas
    @Return:
        dict: {"date", "period_{hour}_{00|30}"}
    """
    LOS = transform_LOS(row["segment_id"], row["velocity"])
    dt = row["updated_at"]
    intervals = list(range(24))
    h = dt.hour
    m = "00" if dt.minute < 30 else "30"
    p_name = f"period_{h}_{m}"
    return dt.date(), dt.weekday(), p_name, LOS

In [19]:
dates = []
weekdays = []
p_names = []
LOSes = []

for _, row in segment_status_df.iterrows():
    date, weekday, p_name, LOS = transform_report(row)
    dates.append(date)
    weekdays.append(weekday)
    p_names.append(p_name)
    LOSes.append(LOS)

segment_status_df["date"] = dates
segment_status_df["weekday"] = weekdays
segment_status_df["period"] = p_names
segment_status_df["LOS"] = LOSes

In [23]:
def major_voting(labels):
    unique_labels = set(labels)
    count_labels = [labels.count(label) for label in unique_labels]

    sorted_labels = sorted(zip(unique_labels, count_labels), key=lambda x: x[1])
    if len(sorted_labels) > 1 and sorted_labels[0][1] == sorted_labels[1][1]:
        print("Oh no, many majors?")
    return sorted_labels[0][0]

def mean_voting(labels):
    l = ["A", "B", "C", "D", "E", "F"]
    values = {"A":0, "B":1, "C":2, "D":3, "E":4, "F":5}
    mean = sum(values[label] for label in labels) / len(labels)
    return l[min(round(mean), 5)]

In [24]:
compress_LOS = segment_status_df.groupby(by=["segment_id", "date", "weekday", "period"])["LOS"].apply(list)
compress_LOS = pd.DataFrame(compress_LOS).reset_index()
compress_LOS["LOS"] = compress_LOS["LOS"].apply(mean_voting)
compress_LOS

       segment_id       date  weekday        period LOS
0              26 2021-04-16        4   period_0_30   A
1              33 2020-08-02        6  period_23_30   C
2              33 2020-08-03        0   period_0_00   D
3              67 2021-03-09        1   period_9_30   B
4              67 2021-03-23        1   period_9_30   B
...           ...        ...      ...           ...  ..
33436       84529 2021-01-05        1   period_8_00   F
33437       84533 2021-01-09        5  period_13_30   F
33438       84533 2021-04-22        3   period_5_00   F
33439       84534 2021-01-09        5  period_13_30   D
33440       84535 2021-01-09        5  period_13_30   F

[33441 rows x 5 columns]