<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/streets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_nodes = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/nodes.csv")
print(df_nodes.head(10))
df_nodes.shape

         _id        long        lat
0  366367223  106.629056  10.804243
1  366367233  106.709701  10.771110
2  366367242  106.737189  10.709337
3  366367274  106.760081  10.854489
4  366367285  106.721163  10.804994
5  366367319  106.618552  10.790438
6  366367322  106.657136  10.799155
7  366367330  106.564926  10.846947
8  366367338  106.632575  10.723753
9  366367340  106.714288  10.803099

(577967, 3)

In [3]:
df_streets = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/streets.csv")
df_streets.head(10)

        _id  level  max_velocity            name          type
0  31096786      1          80.0       Quốc Lộ 1         trunk
1  32575737      4           NaN             NaN  unclassified
2  32575794      4           NaN      Chu Văn An  unclassified
3  32575820      4           NaN   Nguyễn Văn Bá      tertiary
4  32575823      4           NaN  Nguyễn Thị Nhỏ      tertiary
5  32575862      3           NaN      Đường số 5     secondary
6  32575864      3          40.0   Châu Văn Liêm     secondary
7  32575869      4           NaN    Lê Văn Thịnh  unclassified
8  32575874      4           NaN             NaN  unclassified
9  32575935      3           NaN         Tân Phú  primary_link

In [5]:
streets_sort_level=df_streets.sort_values(by='level')
streets_sort_level

            _id  level  max_velocity                     name           type
0      31096786      1          80.0                Quốc Lộ 1          trunk
3548  466364979      1          60.0              Võ Văn Kiệt          trunk
959   152067205      1           NaN         Vòng xoay An Lạc          trunk
960   152067208      1          60.0                Quốc lộ 1          trunk
1014  165367638      1          60.0         Hầm sông Sài Gòn          trunk
...         ...    ...           ...                      ...            ...
1021  165919731      4           NaN  Đường dẫn Cầu Thủ Thiêm       tertiary
3458  462901272      4           NaN             Đường số 18B   unclassified
3459  462968806      4          40.0                      NaN  tertiary_link
3445  460336755      4           NaN                     Số 7       tertiary
5552  658328101      4           NaN               Võ Văn Tần       tertiary

[5553 rows x 5 columns]