<a href="https://colab.research.google.com/github/Gau-6426/PCAP/blob/main/Code/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df_train = pd.read_csv("https://raw.githubusercontent.com/Gau-6426/PCAP/main/Data/train.csv")
df_train.head(20)

    _id  segment_id        date  ...  lat_snode  long_enode  lat_enode
0     0          26  2021-04-16  ...  10.841506  106.769254  10.842422
1     1          33  2020-08-02  ...  10.878650  106.762143  10.878808
2     2          33  2020-08-03  ...  10.878650  106.762143  10.878808
3     3          67  2021-03-09  ...  10.880817  106.768461  10.880771
4     4          67  2021-03-23  ...  10.880817  106.768461  10.880771
5     5          70  2020-08-02  ...  10.751940  106.659019  10.752017
6     6          70  2020-08-03  ...  10.751940  106.659019  10.752017
7     7          71  2020-08-02  ...  10.776592  106.765964  10.776912
8     8          71  2020-08-03  ...  10.776592  106.765964  10.776912
9     9         161  2020-09-11  ...  10.733619  106.723813  10.733604
10   10         173  2020-12-28  ...  10.786231  106.651699  10.786252
11   11         173  2020-12-28  ...  10.786231  106.651699  10.786252
12   12         175  2020-12-09  ...  10.786252  106.652296  10.786413
13   13         175  2020-12-27  ...  10.786252  106.652296  10.786413
14   14         175  2020-12-27  ...  10.786252  106.652296  10.786413
15   15         177  2020-12-09  ...  10.786413  106.652518  10.786473
16   16         177  2020-12-27  ...  10.786413  106.652518  10.786473
17   17         177  2020-12-28  ...  10.786413  106.652518  10.786473
18   18         177  2020-12-28  ...  10.786413  106.652518  10.786473
19   19         177  2020-12-28  ...  10.786413  106.652518  10.786473

[20 rows x 18 columns]